.monetize-tla-box{
	padding: 0.2em 0;
}

.monetize-tla-box.footer {
	font-size: 90%;
}

.monetize-tla-box ul {
	list-style-type: none;
	padding: 0;
	margin: 0.5em 0em;
}

.monetize-tla-box ul li{
	display: list-item;
} 
.monetize-tla-box ul li a {
	display: inline;
}

.monetize-tla-box .by{
	font-size: 90%;
}

.monetize-tla-box.horizontal, .monetize-tla-box.footer{
	text-align: center;
}

.monetize-tla-box.horizontal ul li, .monetize-tla-box.footer ul li{
	display: inline;
	padding: 0 1em;
	white-space:nowrap;
} 